<!DOCTYPE html>
<html>

<head>
    <%- include ('./partials/head.html')%>
 
</head>

<body>
    <div class="todo">
        <%- include ('./partials/navigation.html')%>
        
    </div>
</body>

</html>